<div class="row" style="padding: 41px">
  <div class="col-12">
    <div class="bg-image">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center  mt-3">
          <span style="color: #636e70; font-size: 34px;font-weight: 500;">
            SignUp for Makerspace
          </span>
        </div>
      </div>
      <div class="row" style="padding: 150px 14px">
        <div class="col-4">
          <img src="assets/images/Robot.png" style="height: 382px; margin-top: 97px">
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-6" style="padding: 23px;display: flex; align-items: center;justify-content: space-between;">
              <img src="assets/images/user.png" style="height: 32px; margin: 0 5px 0 -3px;">
              <input type="text" placeholder="Enter First Name" pInputText/>
            </div>
            <div class="col-6" style="padding: 23px;display: flex; align-items: center;justify-content: space-between;">
              <img src="assets/images/user.png" style="height: 32px; margin: 0 5px 0 -3px;">
              <input type="text" placeholder="Enter Last Name" pInputText/>
            </div>
            <div class="col-6" style="padding: 23px;display: flex; align-items: center;justify-content: space-between;">
              <img src="assets/images/email.png" style="height: 32px; margin: 0 5px 0 -3px;">
              <input type="text" placeholder="Enter Email" pInputText/>
            </div>
            <div class="col-6" style="padding: 23px;display: flex; align-items: center;justify-content: space-between;">
              <img src="assets/images/padlock.png" style="height: 32px; margin: 0 5px 0 -3px;">
              <input type="password" placeholder="Enter Password" pInputText/>
            </div>
            <div class="col-6" style="padding: 23px;display: flex; align-items: center;justify-content: space-between;">
              <img src="assets/images/chat.png" style="height: 32px; margin: 0 5px 0 -3px;">
              <input type="text" placeholder="Enter User Type" pInputText/>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex align-items-center justify-content-end">
              <span class="signup-span">Sign Up</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
