<div class="page-container">
  <div class="background-image"></div>

  <div *ngIf="courseDetails" class="course-detail-container">
    <div class="row course-header">
      <div class="col-md-8 course-title-card">
        <h2 class="course-title">{{ courseDetails.name }}</h2>
      </div>
    </div>

    <div class="course-content">
      <div class="row align-items-center">
        <div class="col-md-10">
          <mat-tab-group>
            <mat-tab label="Overview">
              <div class="tab-content">
                <p>{{ courseDetails.description }}</p>
                <p>Duration: {{ courseDetails.duration }} hours</p>
                <p>Status: {{ courseDetails.status }}</p>
              </div>
            </mat-tab>

            <mat-tab label="Course Videos / Materials">
              <div class="tab-content">
                <!-- Image Gallery -->
                <h3>Image Gallery</h3>
                <div class="image-gallery">
                  <div *ngFor="let image of images" class="gallery-item">
                    <img [src]="image.url" [alt]="image.name" />
                  </div>
                </div>

                <!-- Video Section -->
                <h3 class="mt-4">Videos</h3>
                <div *ngFor="let video of videos" class="video-item">
                  <h4>{{ video.name }}</h4>
                  <iframe
                    [src]="sanitizeUrl(video.url)"
                    frameborder="0"
                    allowfullscreen
                    width="100%"
                    height="315">
                  </iframe>
                </div>

                <!-- Downloadable Files Section -->
                <h3 class="mt-4">Downloadable Files</h3>
                <div *ngFor="let file of pdfs" class="download-item">
                  <h4>{{ file.name }}</h4>
                  <a [href]="file.url" download class="btn btn-primary">
                    Download {{ getFileType(file.name) }}
                  </a>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
