<h2 mat-dialog-title>ADD/Edit Labs</h2>

<div class="row" style="padding: 47px 55px">
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <span class="span-inp">Lab Name *</span>
      <mat-form-field appearance="outline" class="custom-mat-form-field custom-inp">
        <input [(ngModel)]="course.name" matInput placeholder="Enter Course Name *" type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <span class="span-inp">Start Date *</span>
      <mat-form-field appearance="outline" class="custom-mat-form-field"><!-- Clock icon -->
        <input matInput [ngxMatDatetimePicker]="picker1" [disabled]="disabled" [(ngModel)]="course.startDateTime">
        <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                 [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
        <!--        <mat-icon matSuffix style="margin: -33px 8px" >arrow_drop_down</mat-icon>-->
      </mat-form-field>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <span class="span-inp">End Date *</span>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <input matInput [ngxMatDatetimePicker]="picker2" [disabled]="disabled" [(ngModel)]="course.endDateTime">
        <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                 [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
        <!--        <mat-icon matSuffix style="margin: -33px 8px" >arrow_drop_down</mat-icon>-->
      </mat-form-field>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <span class="span-inp">Time Period *</span>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-select [(ngModel)]="course.timePeriod" placeholder="Select Time Period">
          <mat-option *ngFor="let time of timePeriodList" [value]="time">{{time}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-lg-12 col-sm-12">
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="save()" style="margin: 0 11px">Submit</button>
      <button mat-raised-button color="warn" (click)="resetForm()">Reset</button>
    </div>
  </div>
</div>
