<h2 mat-dialog-title style="color: #1f3557; font-weight: bolder; padding: 6px;">Book Labs</h2>

<div class="row" style="padding: 47px 55px;">
  <!-- Lab Title -->
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label>Lab Title *</mat-label>
        <mat-select [(ngModel)]="course.labId" placeholder="Select Lab">
          <mat-option *ngFor="let lab of labList" [value]="lab.id">{{ lab.name }}</mat-option>
        </mat-select>

      </mat-form-field>
    </div>
  </div>

  <!-- Selected Date with clock icon -->
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label>Selected Date *</mat-label>
        <mat-icon matPrefix STYLE="margin: 0 11px">event</mat-icon> <!-- Clock icon -->
        <input matInput [ngxMatDatetimePicker]="picker1" [disabled]="disabled" [(ngModel)]="course.start">
        <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                 [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
<!--        <mat-icon matSuffix style="margin: -33px 8px" >arrow_drop_down</mat-icon>-->
      </mat-form-field>
    </div>
  </div>

  <!-- Start Date with clock icon -->
  <div class="col-lg-6 col-sm-12">
    <div class="selection-option">
      <!-- Start Time -->
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label>Start Time *</mat-label>
        <input
          matInput
          [ngxTimepicker]="startPicker"
          placeholder="Select Start Time"
          [(ngModel)]="startTime"
          (ngModelChange)="onStartTimeSet($event)"
          readonly>
        <ngx-material-timepicker
          #startPicker
          [appendToInput]="true"
          class="timepicker">
        </ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>

  <!-- End Date with clock icon -->
  <div class="col-lg-6 col-sm-12">

    <div class="selection-option">
      <!-- End Time -->
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label>End Time *</mat-label>
        <input
          matInput
          [ngxTimepicker]="endPicker"
          placeholder="Select End Time"
          [(ngModel)]="endTime"
          [disabled]="!startTime"
          readonly>
        <ngx-material-timepicker
          #endPicker
          [appendToInput]="true"
          [min]="minEndTime"
          [max]="maxEndTime"
          class="timepicker">
        </ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="col-lg-12 col-sm-12">
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="save()"
              style="background: #fa7d18; color: white; padding: 0 33px;">
        Submit
      </button>
    </div>
  </div>
</div>
