::ng-deep .mat-mdc-form-field{
  display: block !important;
}
::ng-deep .mat--mdc-datepicker-toggle .mat-mdc-button-wrapper {
  visibility: hidden; /* Hide the icon but keep the functionality */
}
/* Global styles.scss or component-specific CSS */
::ng-deep .timepicker {
  z-index: 0 !important;
  position: absolute !important;
  top: -263px;

  right: 1px;

}
::ng-deep .mat-mdc-form-field{
  width: 100% !important;
}

::ng-deep .timepicker-overlay {
  position: absolute !Important;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000004d;
  z-index: 2000 !Important;
  pointer-events: auto;
}
::ng-deep .mat-dialog-container {
  z-index: 1000 !important; /* Dialog box */
}

::ng-deep .mat-calendar {
  background-color: white !important; /* Ensure the calendar background is white */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
  border-radius: 8px; /* Optional: Smooth the corners */
}

::ng-deep .mat-calendar-body-cell {
  background-color: transparent; /* Ensure individual date cells are transparent */
}

::ng-deep .mat-calendar-body-cell:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Optional hover effect */
}

::ng-deep .mat-calendar-content {
  background-color: white !important; /* Ensure the main content area is also white */
}
