::ng-deep .mat-mdc-form-field {
  display: block !important;
  width: 100% !important;
}

/* Hide the datepicker toggle icon but keep functionality */
::ng-deep .mat--mdc-datepicker-toggle .mat-mdc-button-wrapper {
  visibility: hidden;
}

/* Default Clock Picker Styling */
::ng-deep .timepicker {
  z-index: 0 !important;
  position: absolute !important;
  top: -263px;
  right: 1px;
  width: 300px;  /* Default width */
  height: 300px; /* Default height */
  font-size: 16px; /* Default font size */
}

/* Timepicker Overlay Styling */
::ng-deep .timepicker-overlay {
  position: absolute !important;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000004d;
  z-index: 2000 !important;
  pointer-events: auto;
}

/* Dialog box z-index management */
::ng-deep .mat-dialog-container {
  z-index: 1000 !important;
}

/* Calendar Styles */
::ng-deep .mat-calendar {
  background-color: white !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::ng-deep .mat-calendar-body-cell {
  background-color: transparent;
}

::ng-deep .mat-calendar-body-cell:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

::ng-deep .mat-calendar-content {
  background-color: white !important;
}

/* Responsive Timepicker Styling for Screens <1444px */
@media (max-width: 1444px) {
  ::ng-deep .timepicker {
    width: 296px !important;
    height: 200px !important;
    font-size: 14px !important;
    top: -156px !important;
    right: -216px !important;
  }
}
@media (max-width: 1024px) {
  ::ng-deep .timepicker {
    width: 296px !important;
    height: 200px !important;
    font-size: 14px !important;
    top: -167px !important;
    right: 0px !important;
  }
}

/* Mobile View (Width <768px) */
@media (max-width: 768px) {
  ::ng-deep .timepicker {
    width: 200px !important;  /* Narrower width */
    height: 200px !important; /* Narrower height */
    font-size: 12px !important;  /* Smaller font */
    top: 10px !important;  /* Position for mobile */
    right: 10px !important;
  }

  .row {
    padding: 20px !important;  /* Reduce padding for mobile */
  }
}
