.heading-main {
  position: absolute;
  top: 18%;
  left: 6%;
  font-size: 61px;
  color: #2b6ca4;
  font-weight: bold;
}

.heading-sub {
  position: absolute;
  top: 30%;
  left: 157px;
  font-size: 57px;
  font-weight: bold;
  line-height: 1.2;
  color: #2b6ca4;
}

.card-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.explore-card {
  border-radius: 15px;
  background: #ccdeed;
  transition: transform 0.3s ease;
}

.explore-card:hover {
  transform: scale(1.05);
}

.text-bold {
  font-weight: bold;
  line-height: 1.5;
}

.span-last-head {
  font-size: 1rem;
  font-weight: 600;
  color: #ff9900;
}

.float-image {
  position: absolute;
  right: 20%;
  top: 27%;
  width: 461px;
  animation: _ngcontent-ng-c2820987762_floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1024px) {
  .heading-main {
    font-size: 29px;
    top: 18%;
    left: 7%;
  }

  .heading-sub {
    font-size: 43px;
    top: 30%;
    left: 8%;
  }

  .float-image {
    width: 284px;
    right: 19%;
    top: 25%;

  }

  .span-last-head {
    font-size: 0.9rem;
  }
}
@media (max-width: 1440px) {
  .heading-main {
    font-size: 35px;
    top: 18%;
    left: 7%;
  }

  .heading-sub {
    font-size: 43px;
    top: 30%;
    left: 8%;
  }

  .float-image {
    width: 283px;
    right: 19%;
    top: 25%;

  }

  .span-last-head {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .heading-main {
    font-size: 25px;
    top: 18%;
    left: 7%;
  }

  .heading-sub {
    font-size: 36px;
    top: 30%;
    left: 8%;
  }

  .float-image {
    width: 200px;
    right: 19%;
    top: 25%;

  }

  .span-last-head {
    font-size: 0.9rem;
  }
}
