<div class="container-fluid">
  <!-- First Row -->
  <div class="row">
    <div class="col-12">
      <div class="card mt-3">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <img src="assets/images/dashboard-cover.png" class="img-fluid" style="width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row my-4">
    <div class="col-12">
      <div class="card p-5" style="background: #80808038; border-radius: 5px; width: 100%;">

        <!-- Icon Cards Row -->
        <div class="row text-center">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-3" style="border-radius: 15px" routerLink="/courses">
              <img src="assets/images/Explore_01.png" class="img-fluid mb-2">
              <span style="font-size: 21px; font-weight: bold;">EXPLORE COURSES</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-3" style="border-radius: 15px" routerLink="/booklabs">
              <img src="assets/images/BookLab_01.png" class="img-fluid mb-2">
              <span style="font-size: 21px; font-weight: bold;">BOOK A LAB</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-3" style="border-radius: 15px" routerLink="/Membership">
              <img src="assets/images/Join_01%20(1).png" class="img-fluid mb-2">
              <span style="font-size: 21px; font-weight: bold;">JOIN MEMBERSHIP</span>
            </div>
          </div>
        </div>

        <!-- Text Row -->
        <div class="row text-center">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div>
              Browse through the diverse<br>
              range of courses designed<br>
              to enhanced skill and<br>
              <span style="font-weight: bold;">knowledge</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div>
              Browse through the diverse<br>
              range of courses designed<br>
              to enhanced skill and<br>
              <span style="font-weight: bold;">knowledge</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div>
              Browse through the diverse<br>
              range of courses designed<br>
              to enhanced skill and<br>
              <span style="font-weight: bold;">knowledge</span>
            </div>
          </div>
        </div>

        <!-- Learn More / Book Now / Sign Up Row -->
        <div class="row text-center">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <span class="span-last-head">Learn more</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <span class="span-last-head">Book now</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <span class="span-last-head">Sign Up</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
