.card{
  width: 100%;
  border: 1px solid #eaeaea;
  height: 100%;
}
.span-last-head{
  font-size: 16px;
  font-weight: 600;
  color: #ff9900;
}
.centered-word {
  text-align: center;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #333;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.navbar-custom {
  padding: 10px 20px;
}

.navbar-brand img {
  height: 40px;
  object-fit: contain;
}

.navbar-nav .nav-link {
  font-size: 1.2em;
  margin-left: 20px;
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.profile-container {
  margin-right: 20px;
}

.profile-link {
  text-decoration: none;
  color: #333;
}

.profile-link:hover {
  color: #007bff;
}

.profile-name {
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-nav {
    justify-content: center;
  }

  .profile-container {
    margin-top: 10px;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
  100% {
    transform: translateY(0px); /* Return to the original position */
  }
}

/* Apply animation to the image */
.float-image {
  position: absolute;
  right: 368px;
  top: 207px;
  animation: floatUpDown 3s ease-in-out infinite; /* Smooth float effect */
}
