<div class="bg-image">
<div class="course-container">
  <div class="course-header">
    <span class="span-head">Explore Courses</span>
  </div>
  <div class="course-types">
    <div class="course-type" *ngFor="let course of courseList">
      <!-- Adjust the card image styling -->
      <div class="card-image">
        <img src="assets/images/course-pix.jpg" alt="Course Image">
      </div>
      <p-card styleClass="membership-card" (click)="getCourseDetail(course.id)">
        <div class="card-content">
          <h3 class="course-name">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <div class="d-flex align-items-center justify-content-end">
            <span style="border: 1px solid #fa7d18; padding: 10px; border-radius: 5px; background: #fa7d18; color: white; font-size: 14px">Enroll Now</span>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
</div>
