::ng-deep  .bg-image {
  background-image: url("/assets/images/course-bg.png"); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures the background covers the full viewport height */
}
/* Container styling */
.course-container {
  text-align: center;
}

.span-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px;
  font-size: 31px;
  font-weight: bold;
  color: #2b6ca4;
}

/* Flexbox layout for the membership types */
.course-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 57px 250px;
}

/* Each membership type (card wrapper) */
.course-type {
  flex: 1 1 calc(33.33% - 20px);
  margin-bottom: 20px;
}

/* Membership card styling */
.course-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  padding-bottom: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Image container and styling */
.card-image {
  margin: -11px 0 0; /* Adjust margin to avoid overlap */
  border-radius: 5px 5px 0 0; /* Rounded corners at the top */
}

.card-image img {
  width: 100%;
  height: 75px; /* Set a height for the image */
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  border-radius: 5px 5px 0 0; /* Match the container's rounded corners */
}

/* Content styling */
.card-content {
  padding: 15px;
  text-align: center;
  flex-grow: 1;
}

.course-name {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.course-description {
  font-size: 1.1em;
  color: #666;
  padding: 23px;
}

/* Enroll Now button */
.d-flex {
  justify-content: center;
  flex-grow: 0;
}
::ng-deep .p-card .p-card-body {
  padding: 6px 10px 0;
}
