<!--<div class="container">-->
<!--    <h2>Book a Lab</h2>-->
<!--    <p>Choose a lab:</p>-->
<!--    <p-selectButton [(ngModel)]="selectedLab" [options]="labs"></p-selectButton>-->

<!--    <p-button label="Book" (click)="bookLab()" icon="pi pi-check"></p-button>-->

<!--    <p-table [value]="bookings">-->
<!--        <ng-template pTemplate="header">-->
<!--            <tr>-->
<!--                <th>Lab</th>-->
<!--                <th>Date & Time</th>-->
<!--                <th>Duration</th>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-booking>-->
<!--            <tr>-->
<!--                <td>{{ booking.lab }}</td>-->
<!--                <td>{{ booking.date | date:'short' }}</td>-->
<!--                <td>{{ booking.duration }} minutes</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--    </p-table>-->
<!--</div>-->

<div style="padding: 30px">
<!--<full-calendar-->
<!--  *ngIf="options"-->
<!--  #fullcalendar-->
<!--  [editable]="true"-->
<!--  [events]="eventsModel"-->
<!--  [header]="options.header"-->
<!--  [locale]="options.locale"-->
<!--  [customButtons]="options.customButtons"-->
<!--  (dateClick)="dateClick($event)"-->
<!--  (eventDragStop)="eventDragStop($event)"-->
<!--  [plugins]="options.plugins"-->
<!--  (dayRender)="dayRender($event)"-->
<!--  (eventClick)="eventClick($event)"-->
<!--  [selectable]="true"-->
<!--  (select)="dateSelected($event)"-->
<!--  [columnHeaderHtml]="options.columnHeaderHtml"-->
<!--&gt;</full-calendar>-->
  <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
    <ng-template #eventContent let-arg>
      <b>{{ arg.timeText }}</b>
      <i>{{ arg.event.title }}</i>
    </ng-template>
  </full-calendar>
</div>

