<div class="membership-container">
  <div class="background-container">
    <div class="background-70"></div>
    <div class="background-30"></div>
  </div>

  <div class="membership-header">
    <h2>Membership Options</h2>
    <p>Select a plan that suits your needs:</p>
  </div>

  <div class="membership-types">
    <div class="membership-type" *ngFor="let membership of memberships">
      <p-card styleClass="membership-card">
        <div class="card-image">
          <img src="{{ membership.imageUrl }}" alt="{{ membership.name }}" style="width: 50%;">
        </div>
        <div class="card-content">
          <h3 class="membership-name">{{ membership.name }}</h3>
          <p class="membership-description">{{ membership.description }}</p>
          <div class="membership-ratings">
            <span *ngFor="let rating of membership.ratings" class="rating-star">&#9733;</span>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
