<div class="row justify-content-center align-items-center h-100">
  <div class="col-12">
    <div class="bg-image d-flex justify-content-center align-items-center">
      <div class="welcome-div">
        <!-- Optional Welcome Text -->
        <!-- <span class="welcome-text">Welcome</span><br> -->
        <!-- <span class="MakerSpace-text">Sign In To Makerspace</span> -->

        <!-- Form begins -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row" style="margin: 0 -53px;">
            <!-- Username Input Field -->
            <div class="col-lg-12 mb-3" style="margin: -10px 0">
              <input
                type="text"
                pInputText
                formControlName="username"
                class="form-control"
                placeholder="Username"
              />
              <!-- Validation error for username -->
              <div *ngIf="submitted && f.username.errors" class="text-danger">
                Username is required
              </div>
            </div>

            <!-- Password Input Field -->
            <div class="col-lg-12 mb-3" style="margin: 25px 0">
              <input
                type="password"
                pInputText
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
              <!-- Validation error for password -->
              <div *ngIf="submitted && f.password.errors" class="text-danger">
                Password is required
              </div>
            </div>
          </div>

          <!-- Sign In Button -->

              <button type="submit" class="span-signin">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!--<div class="row">-->
<!--  <div class="col-12 d-flex align-items-center justify-content-center">-->
<!--    <div class="card">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-4">-->
<!--      <img src="assets/images/Robot-login.png" style="padding: 72px 9px">-->
<!--    </div>-->
<!--    <div class="col-8">-->
<!--      <img src="assets/images/Wave_BG.png" style="margin: 25px -541px">-->
<!--    </div>-->
<!--  </div>-->

<!--    </div>-->

<!--  </div>-->

<!--</div>-->
