<div class="row justify-content-center align-items-center h-100">
  <div class="col-12">
    <div class="bg-image d-flex justify-content-center align-items-center">
      <div class="welcome-div text-center">
        <!-- Welcome Text -->
        <h1 class="welcome-title">Welcome</h1>
        <h2 class="subtitle">Sign In To MakerSpace</h2>

        <!-- Form Begins -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mgf"  style="">
            <!-- Username Input Field -->
            <div class="input-icon">
              <img src="assets/images/Icon_Face.png" class="icon" />
              <input
                type="text"
                pInputText
                formControlName="username"
                class="form-control"
                placeholder="Username"
              />
            </div>
            <div *ngIf="submitted && f.username.errors" class="text-danger">
              Username is required
            </div>
          </div>

          <!-- Password Input Field -->
          <div class="form-group mt-4">
            <div class="input-icon">
              <img src="assets/images/Icon_Lock.png" class="icon" />
              <input
                type="password"
                pInputText
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <div *ngIf="submitted && f.password.errors" class="text-danger">
              Password is required
            </div>
          </div>

          <!-- Sign In Button -->
          <div class="button-container">
            <button type="submit" class="span-signin">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
