.bg-image {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcome-div {
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
}

::ng-deep .p-inputtext {
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

/* Center button within form */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing if needed */
}

.span-signin {
  border: 1px solid #ccced4;
  background: #ccced4;
  padding: 18px 80px;
  color: white;
  font-size: 26px;
  border-radius: 5px;
  cursor: pointer;
  margin: 308px 47px 111px;
}

/* Adjust button size for smaller screens */
@media (max-width: 768px) {
  .welcome-div {
    max-width: 300px;
  }

  .span-signin {
    font-size: 18px;
    padding: 12px 50px;
  }
}
