/* Navbar Custom Styling */
.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #1f3557 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-brand img {
  height: 40px;
  object-fit: contain;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-left: 20px;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Profile Styling */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-name-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #97929270;
  border: 1px solid #97929270;
  border-radius: 10px;
  position: relative;
}

.profile-name {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 27px;}

.profile-name-container img {
  height: 23px;
  position: absolute;
  right: 5px;
  top: 6px;

}

/* Dropdown Styling */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .navbar-brand img {
    height: 30px;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 10px;
  }

  .profile-name-container {
    padding: 3px 8px;
  }

  .profile-name {
    font-size: 14px;
  }

  .profile-name-container img{
    height: 19px;
    position: absolute;
    right: 8px;
    top: 3px;
  }
}
@media (max-width: 1214px) {
  .navbar-brand img {
    height: 30px;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 10px;
  }

  .profile-name-container {
    padding: 3px 8px;
  }

  .profile-name {
    font-size: 14px;
  }

  .profile-name-container img{
    height: 19px;
    position: absolute;
    right: 8px;
    top: 3px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    justify-content: center;
  }

  .profile-container {
    margin-top: 10px;
  }

  .profile-name {
    margin-right: 5px;
  }
}
