<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <div class="container" style="display:contents;">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/img.png" alt="">
    </a>

    <!-- Navbar Toggle Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/courses">Courses</a></li>
        <li class="nav-item" *ngIf="userTypeId === 1"><a class="nav-link" routerLink="/adminC">Courses Creation</a></li>
        <li class="nav-item" *ngIf="userTypeId === 1"><a class="nav-link" routerLink="/users">User</a></li>
        <li class="nav-item" *ngIf="userTypeId === 1"><a class="nav-link" routerLink="/Labs">Labs</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/booklabs">Book Lab</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Projects">Projects</a></li>
      </ul>
    </div>

    <!-- Profile Section -->
    <div class="profile-container">
      <div class="profile-info" (click)="toggleDropdown()" style="cursor: pointer;">
        <span class="profile-name-container">
          <span class="profile-name">{{userName}}</span>
          <img src="assets/images/user.png" alt="User Icon">
        </span>
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown-menu dropdown-menu-right" [class.show]="dropdownVisible">
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
